<!-- <form [formGroup]="form" class="container" (ngSubmit)="send($event)">
    <mat-card >
        <mat-card-header>
            <mat-card-title>Tell us, what product are you looking for?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput placeholder="Product id" formControlName="id">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input matInput placeholder="Product title" formControlName="title" type="text">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input matInput placeholder="Product price" formControlName="price" type="number">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Product description" formControlName="description"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" class="new_button" [disabled]="form.invalid">
                <mat-icon>send</mat-icon>  Send
            </button>
        </mat-card-actions>
    </mat-card>
</form>  -->

<h1>Contacts works!!!</h1>